*Import data from https://www.icphusa.org/wp-content/uploads/2016/04/Appendix.pdf*
* Turn pdf into excel file
* From excel file only extract district codes and mean income

In [1]:
import pandas as pd

In [2]:
pd.set_option('display.max_rows', None)

In [3]:
df = pd.read_excel('Appendix-converted.xlsx')

In [4]:
df = df.iloc[8:75].drop(range(38,46))

In [5]:
df

,New York City Community District DataTable,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
8,Manhattan 1**,NaN,Battery Park /Tribeca,NaN,41,28,7,5,0.41,NaN,70,113477,11065,NaN,0.044,NaN
9,Manhattan 2**,NaN,Greenwich Village,NaN,31,11,3,1,0.41,NaN,70,113477,11065,NaN,0.044,NaN
10,Manhattan 3,NaN,Lower East Side,NaN,732,375,109,68,3.65,NaN,226,42656,14882,NaN,0.077,NaN
11,Manhattan 4**,NaN,Chelsea/Clinton,NaN,236,121,40,31,2.46,NaN,163,90771,12298,NaN,0.041,NaN
12,Manhattan 5**,NaN,Midtown,NaN,88,63,17,13,2.46,NaN,163,90771,12298,NaN,0.041,NaN
13,Manhattan 6,NaN,Murray Hill/Stuyvesant,NaN,92,46,14,6,0.56,NaN,31,101079,11095,NaN,0.035,NaN
14,Manhattan 7,NaN,Upper West Side,NaN,435,219,79,53,1.6,NaN,23,99298,13355,NaN,0.04,NaN
15,Manhattan 8,NaN,Upper East Side,NaN,112,55,16,9,0.33,NaN,0,103176,14921,NaN,0.033,NaN
16,Manhattan 9,NaN,Manhattanville,NaN,872,415,134,73,5.31,NaN,293,40739,11399,NaN,0.075,NaN
17,Manhattan 10,NaN,Central Harlem,NaN,1798,878,299,174,9.27,NaN,623,36614,10678,NaN,0.069,NaN
18,Manhattan 11,NaN,East Harlem,NaN,1704,850,295,175,9.8,NaN,373,30836,9203,NaN,0.098,NaN
19,Manhattan 12,NaN,Washington Heights,NaN,1096,438,142,71,3,NaN,621,39281,20266,NaN,0.134,NaN
20,Bronx 1**,NaN,Mott Haven,NaN,2517,1243,418,256,16.83,NaN,1256,21663,13474,NaN,0.132,NaN
21,Bronx 2**,NaN,Hunts Point,NaN,1409,757,249,155,16.83,NaN,1256,21663,13474,NaN,0.132,NaN
22,Bronx 3**,NaN,Morrisania,NaN,2399,1220,378,234,19.13,NaN,1050,22145,17323,NaN,0.147,NaN
23,Bronx 4,NaN,Concourse/Highbridge,NaN,3108,1617,482,276,15.08,NaN,717,27166,15582,NaN,0.173,NaN
24,Bronx 5,NaN,University Heights,NaN,3014,1520,509,288,14.64,NaN,1003,25600,15830,NaN,0.168,NaN
25,Bronx 6**,NaN,East Tremont,NaN,2317,1281,352,215,19.13,NaN,1050,22145,17323,NaN,0.147,NaN
26,Bronx 7,NaN,Bedford Park,NaN,2103,1014,322,171,10.15,NaN,549,31153,14863,NaN,0.168,NaN
27,Bronx 8,NaN,Riverdale,NaN,431,191,64,44,2.2,NaN,171,55027,7179,NaN,0.105,NaN
28,Bronx 9,NaN,Unionport/Soundview,NaN,2602,1282,394,213,8.67,NaN,672,36711,15215,NaN,0.122,NaN
29,Bronx 10,NaN,Throgs Neck,NaN,575,259,106,53,2.65,NaN,237,53541,6280,NaN,0.027,NaN
30,Bronx 11,NaN,Pelham Parkway,NaN,1000,494,158,87,4.76,NaN,481,46658,9037,NaN,0.116,NaN
31,Bronx 12,NaN,Williamsbridge,NaN,2338,1230,374,233,10.79,NaN,536,47034,9570,NaN,0.101,NaN
32,Brooklyn 1,NaN,Williamsburg/Greenpoint,NaN,518,263,79,52,2.5,NaN,263,48627,12894,NaN,0.115,NaN
33,Brooklyn 2,NaN,Fort Greene/Brooklyn Heights,NaN,507,255,75,44,2.66,NaN,449,73440,7556,NaN,0.049,NaN
34,Brooklyn 3,NaN,Bedford-Stuyvesant,NaN,2878,1652,425,288,16.41,NaN,643,36321,11841,NaN,0.109,NaN
35,Brooklyn 4,NaN,Bushwick,NaN,1325,709,170,110,7.21,NaN,423,38075,12352,NaN,0.163,NaN
36,Brooklyn 5,NaN,East New York,NaN,3511,1981,557,394,15.57,NaN,784,33980,11135,NaN,0.168,NaN
37,Brooklyn 6,NaN,Park Slope,NaN,339,158,56,31,1.66,NaN,112,92780,5212,NaN,0.046,NaN
46,Brooklyn 7,Sunset Park,NaN,309,NaN,157,52,37,NaN,1.34,465,43233,NaN,10749,0.228,NaN
47,Brooklyn 8,Crown Heights North,NaN,1290,NaN,706,185,110,NaN,7.91,786,40674,NaN,10882,0.069,NaN
48,Brooklyn 9,Crown Heights South,NaN,780,NaN,387,124,71,NaN,4.59,314,41543,NaN,10418,0.125,NaN
49,Brooklyn 10,Bay Ridge,NaN,109,NaN,50,13,13,NaN,0.47,171,55922,NaN,8515,0.13,NaN
50,Brooklyn 11,Bensonhurst,NaN,180,NaN,89,31,16,NaN,0.56,203,44906,NaN,10895,0.131,NaN
51,Brooklyn 12,Borough Park,NaN,149,NaN,79,19,13,NaN,0.66,103,39574,NaN,13396,0.231,NaN
52,Brooklyn 13,Coney Island,NaN,498,NaN,248,78,43,NaN,2.71,139,31069,NaN,9373,0.08,NaN
53,Brooklyn 14,Flatbush/Midwood,NaN,815,NaN,387,128,72,NaN,2.98,196,43488,NaN,13538,0.159,NaN
54,Brooklyn 15,Sheepshead Bay,NaN,213,NaN,112,37,20,NaN,0.86,185,50910,NaN,8546,0.083,NaN
55,Brooklyn 16,Brownsville,NaN,2321,NaN,1256,369,217,NaN,12.12,763,28109,NaN,11071,0.09,NaN
56,Brooklyn 17,East Flatbush,NaN,1721,NaN,915,295,167,NaN,7.99,388,46953,NaN,9871,0.111,NaN
57,Brooklyn 18,Canarsie,NaN,870,NaN,421,126,68,NaN,2.36,221,64440,NaN,7198,0.132,NaN
58,Queens 1,Astoria,NaN,495,NaN,255,84,48,NaN,1.93,228,50887,NaN,14605,0.076,NaN
59,Queens 2,Sunnyside/Woodside,NaN,85,NaN,55,22,14,NaN,0.51,69,56064,NaN,9753,0.146,NaN
60,Queens 3,Jackson Heights,NaN,317,NaN,172,54,35,NaN,1.29,280,49434,NaN,11719,0.246,NaN
61,Queens 4,Elmhurst/Corona,NaN,243,NaN,108,43,26,NaN,0.96,196,45651,NaN,11529,0.228,NaN
62,Queens 5,Ridgewood/Glendale,NaN,337,NaN,173,53,28,NaN,1.24,352,55243,NaN,10317,0.072,NaN
63,Queens 6,Rego Park/Forest Hills,NaN,37,NaN,21,4,2,NaN,0.22,26,64646,NaN,8008,0.068,NaN
64,Queens 7,Flushing,NaN,163,NaN,87,33,18,NaN,0.4,150,53489,NaN,14638,0.133,NaN
65,Queens 8,Fresh Meadows/Briarwood,NaN,215,NaN,117,45,31,NaN,0.91,78,58384,NaN,8382,0.114,NaN
66,Queens 9,Woodhaven,NaN,485,NaN,261,70,48,NaN,2.21,155,59697,NaN,7240,0.12,NaN
67,Queens 10,Howard Beach,NaN,363,NaN,187,47,27,NaN,1.72,164,62005,NaN,4655,0.091,NaN
68,Queens 11,Bayside,NaN,23,NaN,12,2,0,NaN,0.11,95,76157,NaN,3532,0.039,NaN
69,Queens 12,Jamaica/St. Albans,NaN,2154,NaN,1207,333,203,NaN,6.43,380,53498,NaN,11056,0.143,NaN
70,Queens 13,Queens Village,NaN,668,NaN,357,100,63,NaN,2.22,140,77697,NaN,4270,0.084,NaN
71,Queens 14,The Rockaways,NaN,1173,NaN,618,186,120,NaN,6.85,423,49626,NaN,7013,0.107,NaN
72,Staten Island 1,St. George,NaN,1181,NaN,665,181,120,NaN,4.5,618,58896,NaN,8977,0.106,NaN
73,Staten Island 2,South Beach,NaN,112,NaN,52,18,8,NaN,0.43,213,73574,NaN,3916,0.051,NaN
74,Staten Island 3,Tottenville,NaN,67,NaN,39,9,6,NaN,0.25,51,85451,NaN,2581,0.041,NaN

In [6]:
#keep just two of the columns
mean_income2013 = df[['New York City Community District DataTable','Unnamed: 11']].copy()

In [7]:
mean_income2013.reset_index(drop = True, inplace = True);

In [8]:
mean_income2013.columns[0]

'New York City Community District DataTable'

In [13]:
#rename the columns
mean_income2013.rename({mean_income2013.columns[0]:'Community_District', mean_income2013.columns[1]:'Mean_Income'}, axis = 1, \
                       inplace = True)

In [14]:
#remove star from community_district
mean_income2013['Community_District'] = mean_income2013['Community_District'].str.rstrip('*').copy()

In [16]:
#first 5 rows of the new cleaned dataset with just community district and income
mean_income2013.head()

  Community_District Mean_Income
0        Manhattan 1      113477
1        Manhattan 2      113477
2        Manhattan 3       42656
3        Manhattan 4       90771
4        Manhattan 5       90771

In [22]:
#convert file to csv to use in other data analysis
mean_income2013.to_csv('mean_income2013.csv',index= False)